# __Questions proposed:__

__Task 1:__ Provide the names of all cocktails that exist in the database.

__Task 2:__ Find all the information about places that have the postal code 39108.

__Task 3:__ Provide all postal codes (without duplicates).

__Task 4:__ Which ingredient has an alcohol content greater than 30?

__Task 5:__ In a drinking game, everyone should play with everyone. 
Display the corresponding list of game pairs (Name, Name).

__Task 6:__ Display the names of all glasses and cocktails in a single-column table. Use a suitable quantity operation.

__Task 7:__ for which cocktails there is still no recipe in the database (which cocktails are not mentioned in INGREDIENT_COCKTAIL)?

__Task 8:__  In which restaurants is no Knieweich served?

__Task 9__: Create a MY_COCKTAILS table that has the same structure as COCKTAIL. Insert the contents of table COCKTAIL into MY_COCKTAILS at the same time. You execute all subsequent changes exclusively on MY_COCKTAILS.\

__Task 10:__ insert a new cocktail "Purple cow" in the table MY_COCKTAILS. The cocktail is alcoholic, served in a snifter and has the ID 18.

__Task 11:__ The cocktail "Purple Cow" is actually called "Blue Cow". Correct this mistake.

__Task 12:__ First create a table MY_INGREDIENT that has the same structure as INGREDIENT. Let's assume that the alcohol content of all ingredients of the cocktail Knieweich is actually twice as high as the entered value. Then correct this error in the MY_INGREDIENTS table.

__Task 13:__ Delete all cocktails from the MY_COCKTAILS table that contain "Campari" as an ingredient.

__Task 14:__ which restaurants offer cocktails with ID 8 or ID 11?

__Task 15:__ Which cocktail is alcoholic and is served in the 'cocktailglas'?

__Task 16:__ Which glasses are never used?

__Task 17:__ which cocktails do you talk about (table COCKTAIL_PERSON)? Output the names of the cocktails!

__Task 18:__ Which ingredients have an alcohol content between 0 and 50?

__Task 19:__ What personal names begin with S?

__Task 20:__ Is there a place that doesn't serve cocktails?

__Task 21:__ How many ingredients are there?

__Task 22:__ What is the average alcohol content of the ingredients?

__Task 23:__ What is the average alcohol content of the ingredients? (Without AVG() function.)

__Task 24:__ A cocktail consists of several ingredients. The number of units of each Ingredients per cocktail are listed in the table INGREDIENT_COCKTAIL.

__(a)__ The number of ingredients per cocktail.
__(b)__ The number of ingredients per cocktail is required, but only for cocktails with more than 2 ingredients.
__(c)__ The sum of the units of measure of the respective ingredients per cocktail is sought.
__(d)__ The sum of the units of measure of the respective alcoholic ingredients per cocktail is sought.

__Task 25:__ Determine the real alcohol content of all cocktails. The real alcohol content is calculated from the sum of all (alcohol content of the ingredient multiplied by the quantity units of the ingredient) divided by the sum of all quantity units. Rename the attributes of the solution relation appropriately.

__Task 26:__ suppose the output of task 26 is in a View called "Cocktail_alcohol_Content".Determine the minimum and maximum of the alcohol content for the cocktails served in a restaurant.

__Task 27:__ output the names of the glasses used for more than 2 cocktails.

In [1]:
from webbrowser import get
import pandas as pd
import os
from pathlib import Path
import sqlite3

directory = 'raw_data'
Path('cocktails_database.db').touch()

'''after TXT files were created, from the word file sent by the challenge,
the files created dataframes that were later stored as CSV files'''

for file in os.listdir(directory):
    if file.endswith(".txt"):
        filename = file.split('.txt')[0]
        df = pd.read_csv(f'{directory}/{file}')  #creates dataframe\
        df.to_csv('{}/{}.csv'.format(directory,filename),index=None)  #stores df in a csv file


'''CSV files are loaded into a SQL file, creating a database'''

conn = sqlite3.connect('cocktails_database.db')
c = conn.cursor()
for file in os.listdir(directory):
    if file.endswith(".csv"):
        filename = file.split('.csv')[0]
        df = pd.read_csv(f'{directory}/{file}')
        #print(filename,df)
        df.to_sql(f'{filename}', conn, if_exists='replace',
                  index=False)  # write the data to sqlite table
sql_query = """SELECT name FROM sqlite_master
WHERE type='table';"""
c.execute(sql_query)
print("List of tables")
print(c.fetchall())

List of tables
[('My_Cocktails',), ('local',), ('Cocktail',), ('Cocktail_person',), ('Cocktail_local',), ('Person',), ('Glas',), ('Ingredient_Cocktail',), ('Ingredient',)]

In [2]:
# Task 1: Provide the names of all cocktails that exist in the database.

c.execute('''
SELECT cname 
FROM cocktail
''')
name_of_all_cocktails = c.fetchall()
print('Task 1: This are the names of all cocktails that exist in the database:\n'+', '.join([x[0] for x in name_of_all_cocktails]))

Task 1: This are the names of all cocktails that exist in the database:
BlauerBaum, Russentod, Bond007, Donnergurgler, Knieweich, Cola_gruen, BlaueOma, GelbeHose, Pot, Down, Alexander, Americano, Bronx, Daiquiri, Manhattan, Stinger, Zombie

In [3]:
# Task 2: Find all the information about places that have the postal code 39108.

c.execute('''
SELECT *
FROM local
WHERE local.plz = 39108
''') 
zipinfo_39108 = c.fetchall()
print('Task 2:')
print(f"This are all the identity numbers of the locals that belong to the postal code 39108: {str([x[0] for x in zipinfo_39108])[1:-1]}")
print(f"This are all the names of the locals that belong to the postal code 39108: {(', '.join([x[1] for x in zipinfo_39108]))}")
print(f"Lastly, the postal code 39108 belongs to the following cities: {(', '.join([x[3] for x in zipinfo_39108]))}")

Task 2:
This are all the identity numbers of the locals that belong to the postal code 39108: 1, 2, 12
This are all the names of the locals that belong to the postal code 39108: Klamauk, bagel, P 70
Lastly, the postal code 39108 belongs to the following cities: Magdeburg, Magdeburg, Magdeburg

In [4]:
# Task 3: Provide all postal codes (without duplicates).

c.execute('''
SELECT DISTINCT local.plz
FROM local
ORDER BY
    plz ASC
''')
all_zips = c.fetchall()
all_zips_clean = [x[0] for x in all_zips] # remove of tuple
print("Task 3: This are all postal codes: "+(str(all_zips_clean)[1:-1]))

Task 3: This are all postal codes: 39104, 39106, 39108, 39112, 39114, 39128

In [5]:
# Task 4: Which ingredient has an alcohol content greater than 30?

c.execute('''
SELECT ingredient.zname
FROM ingredient
WHERE ingredient.ALKOHOLGEHALT >= 30
''')
alcohol_30 = c.fetchall()
alcohol_30 = [x[0] for x in alcohol_30] # remove of tuple
print("Task 4: The ingredients that have an alcohol content greater than 30 are:\n"+(', '.join(alcohol_30)))

Task 4: The ingredients that have an alcohol content greater than 30 are:
Tequila, Curacao Triple Sec, weisser Rum, brauner Rum, Apricot Brandy, Weinbrand, Canadian Whisky

In [6]:
# Task 5: In a drinking game, everyone should play with everyone. 
#Display the corresponding list of game pairs (Name, Name).

c.execute('''
SELECT person.name
FROM person
''')
all_people= c.fetchall()
all_people = [x[0] for x in all_people]

matches = []

for x in range(len(all_people)):
    for z in range(x + 1, len(all_people)):
        if x != z:
            matches.append((all_people[x],(all_people[z])))
print("Task 5: Here's the list of all round paired playes for the drinking game:\n"+ '\n'.join(map(str, matches)))

Task 5: Here's the list of all round paired playes for the drinking game:
('Kaiservonchina', 'Thomas')
('Kaiservonchina', 'Vannara')
('Kaiservonchina', 'Luana')
('Kaiservonchina', 'Sabine')
('Kaiservonchina', 'Masako')
('Kaiservonchina', 'Fanny')
('Kaiservonchina', 'Hyekyoung')
('Kaiservonchina', 'Elrid')
('Kaiservonchina', 'Cintia')
('Kaiservonchina', 'Aya')
('Kaiservonchina', 'Silvana')
('Kaiservonchina', 'Elena')
('Kaiservonchina', 'Aurelie')
('Thomas', 'Vannara')
('Thomas', 'Luana')
('Thomas', 'Sabine')
('Thomas', 'Masako')
('Thomas', 'Fanny')
('Thomas', 'Hyekyoung')
('Thomas', 'Elrid')
('Thomas', 'Cintia')
('Thomas', 'Aya')
('Thomas', 'Silvana')
('Thomas', 'Elena')
('Thomas', 'Aurelie')
('Vannara', 'Luana')
('Vannara', 'Sabine')
('Vannara', 'Masako')
('Vannara', 'Fanny')
('Vannara', 'Hyekyoung')
('Vannara', 'Elrid')
('Vannara', 'Cintia')
('Vannara', 'Aya')
('Vannara', 'Silvana')
('Vannara', 'Elena')
('Vannara', 'Aurelie')
('Luana', 'Sabine')
('Luana', 'Masako')
('Luana', 'Fanny')
('Luana', 'Hyekyoung')
('Luana', 'Elrid')
('Luana', 'Cintia')
('Luana', 'Aya')
('Luana', 'Silvana')
('Luana', 'Elena')
('Luana', 'Aurelie')
('Sabine', 'Masako')
('Sabine', 'Fanny')
('Sabine', 'Hyekyoung')
('Sabine', 'Elrid')
('Sabine', 'Cintia')
('Sabine', 'Aya')
('Sabine', 'Silvana')
('Sabine', 'Elena')
('Sabine', 'Aurelie')
('Masako', 'Fanny')
('Masako', 'Hyekyoung')
('Masako', 'Elrid')
('Masako', 'Cintia')
('Masako', 'Aya')
('Masako', 'Silvana')
('Masako', 'Elena')
('Masako', 'Aurelie')
('Fanny', 'Hyekyoung')
('Fanny', 'Elrid')
('Fanny', 'Cintia')
('Fanny', 'Aya')
('Fanny', 'Silvana')
('Fanny', 'Elena')
('Fanny', 'Aurelie')
('Hyekyoung', 'Elrid')
('Hyekyoung', 'Cintia')
('Hyekyoung', 'Aya')
('Hyekyoung', 'Silvana')
('Hyekyoung', 'Elena')
('Hyekyoung', 'Aurelie')
('Elrid', 'Cintia')
('Elrid', 'Aya')
('Elrid', 'Silvana')
('Elrid', 'Elena')
('Elrid', 'Aurelie')
('Cintia', 'Aya')
('Cintia', 'Silvana')
('Cintia', 'Elena')
('Cintia', 'Aurelie')
('Aya', 'Silvana')
('Aya', 'Elena')
('Aya', 'Aurelie')
('Silvana', 'Elena')
('Silvana', 'Aurelie')
('Elena', 'Aurelie')

In [7]:
# Task 6: Display the names of all glasses and cocktails in a single-column table. Use a suitable quantity operation.

c.execute('''
SELECT cocktail.cname,
    glas.gname
FROM Glas, cocktail
WHERE cocktail.gid = glas.gid
''')
gs_and_cs= c.fetchall()
all_gscs = [z for x in gs_and_cs for z in x if z != None]
all_gscs = list(dict.fromkeys(all_gscs)) 
print("Task 6: Here's the list of  names of all glasses and cocktails:\n"+(', '.join(all_gscs)))

Task 6: Here's the list of  names of all glasses and cocktails:
BlauerBaum, Floete, Cola_gruen, Down, Schwenker, Knieweich, Kelch, BlaueOma, Schale, Bond007, Donnergurgler, Stiefel, Pot, Russentod, GelbeHose, Bierglas, Alexander, Cocktailglas, Americano, Bronx, Manhattan, Stinger, Daiquiri, Tumbler, Zombie, Longdrinkglas

In [8]:
# Task 7: for which cocktails there is still no recipe in the database 
# (which cocktails are not mentioned in INGREDIENT_COCKTAIL)?
 
c.execute('''
SELECT cocktail.cname 
FROM cocktail 
WHERE cocktail.cname NOT IN (
    SELECT cocktail.cname 
    from ingredient_cocktail
    WHERE cocktail.cid = ingredient_cocktail.cid)
''')
c_ing_missing= c.fetchall()
c_ing_missing = [x[0] for x in c_ing_missing]
print("Task 7: This are the cocktails which recipe are still not in the database:\n"+(', '.join(c_ing_missing)))

Task 7: This are the cocktails which recipe are still not in the database:
BlauerBaum, Russentod, Donnergurgler, Cola_gruen, Down, Alexander, Americano, Bronx, Daiquiri, Stinger, Zombie

In [9]:
# Task 8:  In which restaurants is no Knieweich served?

c.execute('''
SELECT local.lname
FROM local
WHERE local.lid NOT IN (
    SELECT cocktail_local.lid
    FROM cocktail_local
    WHERE cocktail_local.cid = (
        SELECT cocktail.cid
        FROM cocktail
        WHERE cocktail.cname='Knieweich'
    )
)
''')
rest_not_knieweich= c.fetchall()
rest_not_knieweich = [x[0] for x in rest_not_knieweich]
print("Task 8: This are the restaurants where Knieweich is not serverd:\n"+(', '.join(rest_not_knieweich)))

Task 8: This are the restaurants where Knieweich is not serverd:
Klamauk, Alcatraz, El Greco, Falstaff, Rubens, P 70, Zum Alten Dessauer

In [10]:
# Task 9: Create a MY_COCKTAILS table that has the same structure as COCKTAIL. 
# Insert the contents of table COCKTAIL into MY_COCKTAILS at the same time. 
# You execute all subsequent changes exclusively on MY_COCKTAILS.

c.execute(''' 
CREATE TABLE IF NOT EXISTS My_Cocktails AS
    SELECT cid, cname, alkoholisch, gid
    FROM cocktail
''')
#conn.commit() # this line is commented out since if executed again it would add this row again,
# since python is being used the IGNORE command does not work.
print("Task 9: Table was created and added to the database.")

Task 9: Table was created and added to the database.

In [11]:
# Task 10: insert a new cocktail "Purple cow" in the table MY_COCKTAILS. 
# The cocktail is alcoholic, served in a snifter and has the ID 18.

c.execute('''DELETE FROM My_Cocktails WHERE My_Cocktails.cid = 18''')# so it doenst doubles again if the code is executed again.

c.execute('''
INSERT INTO My_Cocktails (cid, cname, alkoholisch, gid)
VALUES (18,'Purple cow', 'y', (
    SELECT glas.gid
    FROM glas
    WHERE glas.gname= 'Schwenker'))
''')
#conn.commit()     # this line is commented out since if executed again it would add this row again,
# since python is being used the IGNORE command does not work.
print("Task 10: New row with new cocktail created in My_Cocktails.")

Task 10: New row with new cocktail created in My_Cocktails.

In [12]:
# Task 11: The cocktail "Purple Cow" is actually called "Blue Cow". Correct this mistake. 

c.execute('''
UPDATE My_Cocktails
SET cname = 'Blue Cow'
WHERE cname = 'Purple cow'
''')
print("Task 11: Purple Cow cocktail renamed to Blue Cow.")

Task 11: Purple Cow cocktail renamed to Blue Cow.

In [13]:
#Task 12:  first create a table MY_INGREDIENT that has the same structure as INGREDIENT. 
# Let's assume that the alcohol content of all ingredients of the cocktail Knieweich is actually 
# twice as high as the entered value. Then correct this error in the MY_INGREDIENTS table.

c.execute('''
CREATE TABLE IF NOT EXISTS My_Ingredient AS
    SELECT zid, zname, alkoholgehalt
    FROM ingredient
''')

c.execute('''
UPDATE My_Ingredient
SET alkoholgehalt = alkoholgehalt * 2
WHERE zid IN (
    SELECT Ingredient_Cocktail.zid
    FROM Ingredient_Cocktail
    WHERE Ingredient_Cocktail.cid = (
        SELECT cocktail.cid
        FROM cocktail
        WHERE cocktail.cname='Knieweich'))
''')
print("Task 12: My_Ingredient table created and Knieweich's ingredients alcohol content was corrected.")

Task 12: My_Ingredient table created and Knieweich's ingredients alcohol content was corrected.

In [14]:
# Task 13: Delete all cocktails from the MY_COCKTAILS table that contain "Campari" as an ingredient.

c.execute('''
DELETE 
FROM My_cocktails 
WHERE My_cocktails.cid IN (
    SELECT Ingredient_Cocktail.cid
    FROM Ingredient_Cocktail
    WHERE Ingredient_Cocktail.zid = (
        SELECT ingredient.zid
        FROM ingredient
        WHERE ingredient.zname='Campari'
    )
)
''')
print("Task 13: Cocktails that contained the ingredient 'Campari' were deleted.")

Task 13: Cocktails that contained the ingredient 'Campari' were deleted.

In [15]:
# Task 14: which restaurants offer cocktails with ID 8 or ID 11?

c.execute('''
SELECT local.lname
FROM local
WHERE local.lid IN (
    SELECT cocktail_local.lid
    FROM cocktail_local
    WHERE cocktail_local.cid=8 OR cocktail_local.cid=11
    )
''')
rest_cock_8or11= c.fetchall()
rest_cock_8or11 = [x[0] for x in rest_cock_8or11]
print("Task 14: This are the restaurants that offer the cocktails with the ID 8 or 11:\n"+(', '.join(rest_cock_8or11)))

Task 14: This are the restaurants that offer the cocktails with the ID 8 or 11:
Falstaff, Le Petit, Rubens

In [16]:
# Task 15: Which cocktail is alcoholic and is served in the 'cocktailglas'?

c.execute('''
SELECT cocktail.cname
FROM cocktail
WHERE cocktail.alkoholisch='y' AND cocktail.gid IN (
    SELECT glas.gid
    FROM glas
    WHERE glas.gname='Cocktailglas'
    )
''')
cockglas_alco= c.fetchall()
cockglas_alco = [x[0] for x in cockglas_alco]
print("Task 15: This are the cocktails that are alcoholic and are served in the Cocktail Glass:\n"+(', '.join(cockglas_alco)))

Task 15: This are the cocktails that are alcoholic and are served in the Cocktail Glass:
Alexander, Americano, Bronx, Manhattan, Stinger

In [17]:
# Task 16: Which glasses are never used?

c.execute('''
SELECT glas.gname 
FROM glas 
WHERE glas.gid NOT IN (
    SELECT cocktail.gid 
    FROM cocktail)
''')
g_not_used= c.fetchall()
g_not_used = [x[0] for x in g_not_used]
print("Task 16: This are the glasses that are never used in any cocktail:\n"+(', '.join(g_not_used)))

Task 16: This are the glasses that are never used in any cocktail:
Weinglas, Sektglas, Bierkrug, Flasche

In [18]:
# Task 17: which cocktails do you talk about (table COCKTAIL _PERSON)? 
#Output the names of the cocktails!
 
c.execute('''
SELECT cocktail.cname 
FROM cocktail 
WHERE cocktail.cid IN (
    SELECT Cocktail_person.cid 
    FROM Cocktail_person)
''')
talk_cocktails= c.fetchall()
talk_cocktails = [x[0] for x in talk_cocktails]
print("Task 17: This are the cocktails that are talked about:\n"+(', '.join(talk_cocktails)))

Task 17: This are the cocktails that are talked about:
Americano, Bronx, Daiquiri, Manhattan, Stinger, Zombie

In [19]:
# Task 18: Which ingredients have an alcohol content between 0 and 50?

c.execute('''
SELECT ingredient.zname 
FROM ingredient 
WHERE ingredient.alkoholgehalt BETWEEN 0 AND 50
''')
ing_alcohol= c.fetchall()
ing_alcohol = [x[0] for x in ing_alcohol]
print("Task 18:\nThis are the ingredients that have an alcohol content between 0 and 50 according to the table Ingredients (not My_Ingredientes):\n"+(', '.join(ing_alcohol)))

Task 18:
This are the ingredients that have an alcohol content between 0 and 50 according to the table Ingredients (not My_Ingredientes):
Tequila, Curacao Triple Sec, Limettensaft, Apricot Brandy, Ananassaft, Zitronensaft, Weinbrand, Creme de Menthe, Cointreau, Canadian Whisky, Vermouth rosso, Campari

In [20]:
# Task 19: What personal names begin with S?

c.execute('''
SELECT person.name 
FROM person 
WHERE person.name LIKE 'S%'
''')
name_s= c.fetchall()
name_s = [x[0] for x in name_s]
print("Task 19: This are the personal names begin with S:\n"+(', '.join(name_s)))

Task 19: This are the personal names begin with S:
Sabine, Silvana

In [21]:
# Task 20: Is there a place that doesn't serve cocktails?

c.execute('''
SELECT IFNULL (max('All places serve cocktails.'), 'Some places do not serve any cocktails.')
FROM  Cocktail_local
WHERE Cocktail_local.lid IN (
    SELECT local.lid
    FROM local
)
''')
if_local_serves_cocktails= c.fetchall()
if_local_serves_cocktails = [x[0] for x in if_local_serves_cocktails]
print("Task 20: "+(', '.join(if_local_serves_cocktails)))

Task 20: All places serve cocktails.

In [22]:
# Task 21: How many ingredients are there?

c.execute('''
SELECT COUNT(DISTINCT ingredient.zid) 
FROM ingredient
''') #counting all rows except null or duplicates
count_ing= c.fetchall()
count_ing = [x[0] for x in count_ing]
print("Task 21: There are "+(str(count_ing)[1:-1])+" ingredients in total.")

Task 21: There are 14 ingredients in total.

In [23]:
# Task 22: What is the average alcohol content of the ingredients?

c.execute('''
SELECT avg(ingredient.alkoholgehalt) 
FROM ingredient
''')
avg_alcohol= c.fetchall()
avg_alcohol = avg_alcohol[0][0]
avg_alcohol_rounded = round(float(avg_alcohol))
print(f"Task 22:\nThere average of alcohol content of the ingredients is {avg_alcohol}, or {avg_alcohol_rounded} if rounded up, according to the table Ingredients (not My_Ingredientes)")

Task 22:
There average of alcohol content of the ingredients is 29.214285714285715, or 29 if rounded up, according to the table Ingredients (not My_Ingredientes)

In [24]:
# Task 23: What is the average alcohol content of the ingredients? (Without AVG() function.)

c.execute('''
SELECT SUM(ingredient.alkoholgehalt) / COUNT (ingredient.alkoholgehalt)
FROM ingredient
''')
sum_count_ing= c.fetchall()
print(f"Task 23: There average of alcohol content of the ingredients without using the AVG() function is {sum_count_ing[0][0]}.")

Task 23: There average of alcohol content of the ingredients without using the AVG() function is 29.

In [25]:
# Task 24: A cocktail consists of several ingredients. 
# The number of units of each Ingredients per cocktail are listed in the table INGREDIENT_COCKTAIL.

#(a) The number of ingredients per cocktail.

c.execute('''
SELECT Cocktail.cname,
    COUNT(Ingredient_Cocktail.zid)
FROM Ingredient_Cocktail, Cocktail
WHERE Ingredient_Cocktail.cid = Cocktail.cid
GROUP BY Cocktail.cid
''')
ing_per_cocktail = c.fetchall()
print("Task 24(a):\nThis are the number of ingredients per cocktail:")
for i in ing_per_cocktail:
    if i[1] == 1:
        print(f"The cocktail {i[0]} has {i[1]} ingredient.")
    else: print(f"The cocktail {i[0]} has {i[1]} ingredients.")

Task 24(a):
This are the number of ingredients per cocktail:
The cocktail Bond007 has 1 ingredient.
The cocktail Knieweich has 3 ingredients.
The cocktail BlaueOma has 1 ingredient.
The cocktail GelbeHose has 2 ingredients.
The cocktail Pot has 3 ingredients.
The cocktail Manhattan has 5 ingredients.

In [26]:
#(b) The number of ingredients per cocktail is required, but only for cocktails with more than 2 ingredients.

c.execute('''
SELECT Cocktail.cname,
    COUNT(Ingredient_Cocktail.zid)
FROM Ingredient_Cocktail, Cocktail
WHERE Ingredient_Cocktail.cid = Cocktail.cid
GROUP BY Cocktail.cid
HAVING COUNT(*) > 2
''')
more_than_2_ing = c.fetchall()
print("Task 24(b):\nThis are the number of ingredients for the cocktails that require more than 2:")
for i in more_than_2_ing:
    print(f"The cocktail {i[0]} has {i[1]} ingredients.")

Task 24(b):
This are the number of ingredients for the cocktails that require more than 2:
The cocktail Knieweich has 3 ingredients.
The cocktail Pot has 3 ingredients.
The cocktail Manhattan has 5 ingredients.

In [27]:
#(c) The sum of the units of measure of the respective ingredients per cocktail is sought.

c.execute('''
SELECT Cocktail.cname,
    SUM(Ingredient_Cocktail.menge)
FROM Ingredient_Cocktail, Cocktail
WHERE Ingredient_Cocktail.cid = Cocktail.cid
GROUP BY Ingredient_Cocktail.cid
''')
ing_units = c.fetchall()
print("Task 24(c):\nThis are the units of measure of the respective ingredients per cocktail:")
for i in ing_units:
    print(f"The cocktail {i[0]} has {i[1]} units.")

Task 24(c):
This are the units of measure of the respective ingredients per cocktail:
The cocktail Bond007 has 56 units.
The cocktail Knieweich has 150 units.
The cocktail BlaueOma has 45 units.
The cocktail GelbeHose has 200 units.
The cocktail Pot has 161 units.
The cocktail Manhattan has 115 units.

In [28]:
#(d) The sum of the units of measure of the respective alcoholic ingredients per cocktail is sought.

c.execute('''
SELECT Cocktail.cname,
    SUM(Ingredient_Cocktail.menge)
FROM Ingredient_Cocktail, Cocktail, Ingredient
WHERE Ingredient_Cocktail.cid = Cocktail.cid AND
    Ingredient_Cocktail.zid = Ingredient.zid AND
    Ingredient.alkoholgehalt != 0
GROUP BY Cocktail.cname
''')
ing_units_alcoholic = c.fetchall()
print("Task 24(d):\nThis are the units of measure of the respective alcoholic ingredients per cocktail:")
for i in ing_units_alcoholic:
    print(f"The cocktail {i[0]} has {i[1]} units.")

Task 24(d):
This are the units of measure of the respective alcoholic ingredients per cocktail:
The cocktail BlaueOma has 45 units.
The cocktail GelbeHose has 150 units.
The cocktail Knieweich has 100 units.
The cocktail Manhattan has 115 units.
The cocktail Pot has 161 units.

In [29]:
# Task 25: Determine the real alcohol content of all cocktails. 
# The real alcohol content is calculated from the sum of all 
# (alcohol content of the ingredient multiplied by the quantity units of the ingredient) 
# divided by the sum of all quantity units. Rename the attributes of the solution relation appropriately.

c.execute('''
SELECT cocktail.cname, a.alcool/b.quantidade
FROM (
    SELECT SUM(ingredient.alkoholgehalt*ingredient_cocktail.menge) alcool, cocktail.cid
    FROM ingredient_cocktail, ingredient, cocktail
    WHERE ingredient.zid = ingredient_cocktail.zid AND
        ingredient_cocktail.cid = cocktail.cid
    GROUP BY cocktail.cid
) a,
(
    SELECT SUM(ingredient_cocktail.menge) quantidade, cocktail.cid
    FROM ingredient_cocktail, cocktail
    WHERE cocktail.cid = ingredient_cocktail.cid
    GROUP BY ingredient_cocktail.cid
) b, cocktail
WHERE a.cid = b.cid AND cocktail.cid = a.cid
''')
real_alco_content = c.fetchall()
print("Task 25:\nThis the real alcohol content per cocktail:")
for i in real_alco_content:
    print(f"The {i[0]} cocktail real alcohol content is {i[1]}.")

Task 25:
This the real alcohol content per cocktail:
The Bond007 cocktail real alcohol content is 0.
The Knieweich cocktail real alcohol content is 24.
The BlaueOma cocktail real alcohol content is 45.
The GelbeHose cocktail real alcohol content is 33.
The Pot cocktail real alcohol content is 27.
The Manhattan cocktail real alcohol content is 35.

In [30]:
# Task 26: suppose the output of task 26 is in a View called "Cocktail_alcohol_Content".
# Determine the minimum and maximum of the alcohol content for the cocktails served in a restaurant.

c.execute('''
SELECT local.lname, max(a.alcool/b.quantidade), min(a.alcool/b.quantidade)
FROM (
    SELECT SUM(ingredient.alkoholgehalt*ingredient_cocktail.menge) alcool, cocktail.cid
    FROM ingredient_cocktail, ingredient, cocktail
    WHERE ingredient.zid = ingredient_cocktail.zid AND
        ingredient_cocktail.cid = cocktail.cid
    GROUP BY cocktail.cid
) a,
(
    SELECT SUM(ingredient_cocktail.menge) quantidade, cocktail.cid
    FROM ingredient_cocktail, cocktail
    WHERE cocktail.cid = ingredient_cocktail.cid
    GROUP BY ingredient_cocktail.cid
) b, cocktail, local, cocktail_local
WHERE a.cid = b.cid AND cocktail.cid = a.cid AND cocktail.cid = cocktail_local.cid AND cocktail_local.lid = local.lid
group by local.lname
''')
max_min_bylocal = c.fetchall()
print("Task 26:\nThis are the served cocktails that posses the maximun and minimum alcohol content per restaurant:")
for i in max_min_bylocal:
    print(f"\nRestaurant {i[0]}: the drink with the maximum alcohol content is the {i[1]} and drink with the minimum alcohol content is the {i[2]}.")

Task 26:
This are the served cocktails that posses the maximun and minimum alcohol content per restaurant:

Restaurant Alcatraz: the drink with the maximum alcohol content is the 35 and drink with the minimum alcohol content is the 35.

Restaurant CyberSpaceCafe Orbit: the drink with the maximum alcohol content is the 24 and drink with the minimum alcohol content is the 24.

Restaurant Durango Saloon: the drink with the maximum alcohol content is the 24 and drink with the minimum alcohol content is the 24.

Restaurant Exlibris: the drink with the maximum alcohol content is the 24 and drink with the minimum alcohol content is the 24.

Restaurant Falstaff: the drink with the maximum alcohol content is the 33 and drink with the minimum alcohol content is the 33.

Restaurant Klewitz: the drink with the maximum alcohol content is the 24 and drink with the minimum alcohol content is the 24.

Restaurant Le Petit: the drink with the maximum alcohol content is the 33 and drink with the minimum alcohol content is the 24.

Restaurant P 70: the drink with the maximum alcohol content is the 35 and drink with the minimum alcohol content is the 35.

Restaurant Rubens: the drink with the maximum alcohol content is the 33 and drink with the minimum alcohol content is the 33.

Restaurant Zum Alten Dessauer: the drink with the maximum alcohol content is the 35 and drink with the minimum alcohol content is the 35.

Restaurant bagel: the drink with the maximum alcohol content is the 24 and drink with the minimum alcohol content is the 24.

In [31]:
# Task 27: output the names of the glasses used for more than 2 cocktails.

c.execute('''
SELECT glas.gname
FROM glas, cocktail
WHERE glas.gid = cocktail.gid
GROUP BY glas.gid
HAVING COUNT(cocktail.gid) > 2
''')
glasses_more_than_2 = c.fetchall()
glasses_more_than_2 = [x[0] for x in glasses_more_than_2]
print(f"Task 27:\nThis are the glasses that are used for more than 2 cocktails: {(', '.join(glasses_more_than_2))}")

Task 27:
This are the glasses that are used for more than 2 cocktails: Stiefel, Cocktailglas